<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>org.example.guice.Module</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>public</web-resource-name>-->
<!--            <url-pattern>/public/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>client</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

<!--    <login-config>-->
<!--        <auth-method>KEYCLOAK</auth-method>-->
<!--        <realm-name>Example</realm-name>-->
<!--    </login-config>-->

<!--    <security-role>-->
<!--        <role-name>*</role-name>-->
<!--    </security-role>-->
</web-app>